/*-- Body Reset --*/
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
  color: #616971;
  background:rgb(238, 238, 238);
}

/*============= TOP BAR HEADER =============*/
.top-bar{
  background:#e487d0;
  height: 2.8rem;
  padding:.5rem 0;
}


/*============= NAVIGATION =============*/
.navbar-brand img {
  height: 3rem;
}
.navbar{
  font-size: 1.15rem;
  font-weight: 600;
  letter-spacing: .1rem;
  box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
  z-index: 1;
}
.nav-item{
  padding: .5rem ;
}
.nav-link{
  color: #2a2a2a!important;
}
.nav-link.active,
.nav-link:hover{
  color: #e487d0!important;
}
.dropdown-item{
  display: block;
}
.dropdown{
  display: none;
}
.nav-item:hover .dropdown{
  display: block;
}
.icon{
  font-size: 30px;
}
.text{
  color: #383838!important;
  text-decoration: none;
}


/*============= CAROUSEL =============*/

#carousel{
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, .1);
}
.carousel-inner{
  max-height: 38rem!important;
}

/*---Change Carousel Transition Speed --*/

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active{
transition: transform 1.2s ease;
}
/*-- Carousel Content --*/
.carousel-caption{
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  text-transform: uppercase;
}
.bg-custom{
  background-color: rgba(0, 0, 0, .4);
  color: white;
  border-radius: 1rem;
}
.carousel-caption h1 {
  font-size: 3.8rem;
  text-shadow: .1rem .1rem .3rem rgba(0, 0, 0, 1);
}
.border-primary{
  border-top: .2rem solid #4981b3!important;
}
.carousel-caption h3 {
  font-size: 2.2rem;
  text-shadow: .1rem .1rem .2rem rgba(0, 0, 0, 1);
}
.btn-lg{
  border-radius: 0;
  text-transform: uppercase;
  font-size: 1rem;
  border-width: medium;
}
.btn-danger{
  background-color: #aa148a;
  border: .05rem solid #aa148a;
}
.btn-primary{
  background-color:  #25c0c5;
  border: .05rem solid  #25c0c5;
}

.btn-primary:hover,
.btn-primary:focus{
  background-color: #2a2a2a!important;
  border: .05rem solid #2a2a2a!important;
}
.btn-danger:hover,
.btn-danger:focus{
  background-color: #2a2a2a!important;
  border: .05rem solid #2a2a2a!important;
}

.btn-viol{
  background-color: rgb(95, 86, 211);
  border: .05rem solid rgb(95, 86, 211);
}
.btn-viol:hover,
.btn-viol:focus{
  background-color: rgb(123, 115, 224)!important;
  border: .05rem solid rgb(123, 115, 224)!important;
}
.btn-brown{
  background-color: #45eb24!important;
  border: .05rem solid #45eb24!important;
}
.btn-brown:hover,
.btn-brown:focus{
  background-color: #7df765!important;
  border: .05rem solid #7df765!important;
}

/*===== FIXED BACKGROUND IMG =====*/

.fixed-background {
  overflow: hidden; /*-- Correction for iOS --*/
}


/*============= FOOTER =============*/

footer{
  background-color: #000000ee;
  padding: 1rem 2rem 3rem;
}
footer img{
  height: 3.5rem;
  margin: 1.5rem auto;
}
footer p, footer a,
.socket a {
  color: white;
  text-decoration: none;
}
ul.social{
  list-style: none;
  display: flex;
  max-width: 16rem;
  margin: 0 auto;
  padding: 0;
}
ul.social li{
  margin: 0 auto;
}
footer .svg-inline--fa{
  font-size: 2.3rem;
}
footer .svg-inline--fa:hover{
  color: #25c0c5;
}


/*============= SOCKET =============*/

.socket{
  background-color: #222222;
  border-top: .1rem solid #25c0c5;
}

/*============= MEDIA QUERIES =============*/

/* Devices under 1199px (xl) */
@media (max-width: 1199.98px) {

}
/* Devices under 768px (md) */
@media (max-width: 767.98px) {

}

/*-- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

/*-- Fixed Background Image --*/
.fixed-background {
  position: relative;
  width: 100%;
  z-index: 1000!important;
}
.fixed-wrap {
  clip: rect(0, auto, auto, 0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -999 !important;
}
.fixed {
  z-index: -999!important;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform;
}
.card{
  height: 370px;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: rgba(0,0,0,0.5) !important;
  }
  
  .social_icon span{
  font-size: 60px;
  margin-left: 10px;
  color: #FFC312;
  }
  
  .social_icon span:hover{
  color: white;
  cursor: pointer;
  }
  
  .card-header h3{
  color: white;
  }
  
  .social_icon{
  position: absolute;
  right: 20px;
  top: -45px;
  }
  
  .input-group-prepend span{
  width: 50px;
  background-color: #e487d0;
  color: black;
  border:0 !important;
  }
  
  input:focus{
  outline: 0 0 0 0  !important;
  box-shadow: 0 0 0 0 !important;
  
  }

.remember{
  color: white;
  }
  
  .remember input
  {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
  }
  
  .login_btn{
  color: black;
  background-color: #e487d0;
  width: 100px;
  }
  
  .login_btn:hover{
  color: black;
  background-color: white;
  }
  
  .links{
  color: white;
  }
  
  .links a{
  margin-left: 4px;
  }
  .note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #e487d0, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:1.5rem;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #e487d0;
    color: #fff;
}

/* --- Edit profile --- */

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: rgb(99, 39, 120);
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #682773
}

.profile-button:focus {
  background: #682773;
  box-shadow: none
}

.profile-button:active {
  background: #682773;
  box-shadow: none
}

.back:hover {
  color: #682773;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}

/* --- Edit profile --- */

/* --- Registered guide popup --- */

/* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #e487d0;
  font-size: 15px;
  font-weight: bold;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* --- Registered guide popup --- */

/* --- Top parties --- */

.mt-100 {
  margin-top: 100px
}

.card {
  border-color: forestgreen
}

.mb-30 {
  margin-bottom: 150px !important
}

.card-img-tiles {
  display: block;
}

a {
  color: forestgreen;
  text-decoration: none !important
}

.card-img-tiles>.inner {
  display: table;
  width: 100%
}

.card-img-tiles .main-img,
.card-img-tiles .thumblist {
  display: table-cell;
  width: 65%;
  vertical-align: middle
}

.card-img-tiles .main-img>img:last-child,
.card-img-tiles .thumblist>img:last-child {
  margin-bottom: 0
}

.card-img-tiles .main-img>img,
.card-img-tiles .thumblist>img {
  display: block;
  width: 100%;
  margin-bottom: 6px
}

.thumblist {
  width: 35%;
  border-left: 1px solid #e1e7ec !important;
  display: table-cell;
  width: 65%;
  padding: 15px;
  vertical-align: middle
}

.card-img-tiles .thumblist>img {
  display: block;
  width: 100%;
  margin-bottom: 6px
}

.btn-group-sm>.btn,
.btn-sm {
  padding: .45rem .5rem !important;
  font-size: .875rem;
  line-height: 1.5;
  border-radius: .2rem
}

/* --- Top parties --- */